{% extends "base.html" %}

{% block title %}Welcome{% endblock %}

{% block content %}

    <form method="POST">
        <input type="text" name="title" placeholder="Enter game name">
        <input type="text" name="genre" placeholder="Enter game genre">
        <input type="text" name="platform" placeholder="Enter game platform">
        <input type="number" name="rating" placeholder="Enter game rating" min="0" max="10" step="0.1">
        <textarea name="description" placeholder="Enter game description"></textarea>
        <input type="number" name="release_year" placeholder="Enter release year" min="1900" max="2026">
        <input type="text" name="image_url" placeholder="Enter image URL">
        <input type="text" name="creator" placeholder="Enter creator name">
        <input type="text" name="price" placeholder="Enter price">
        <button type="submit">Add Game</button>
    </form>

{% endblock %}