<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>>{% block title %}My Web App{% endblock %}</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <nav>
        <a href="/" class="logo">Welcome</a>
        <a href="/game_list">Games</a>
        <a href="/add_game">Add Game</a>
        <a href="/recommend_game">Recommended</a>
        <a href="/statistics">Statistics</a>
    </nav>
    {% block content %}
    {% endblock %}
</body>

</html>